<th:block xmlns:th="http://www.thymeleaf.org">
     <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/warehouses/add" method="POST">
                    <div class="form-group">
                        <label for="name">Име на магацин</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               required
                               placeholder="Име">
                    </div>
                    <div class="form-group">
                        <label for="address">Адреса</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               placeholder="Адреса">
                    </div>

                    <button type="submit" class="btn btn-primary">Потврди</button>
                    <a class="btn btn-danger" href="javascript:history.back()">Претходна страна</a>
                </form>
            </div>
        </div>
    </div>
</th:block>

