<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-12" th:if="${magacini.size() > 0}">
                <div class="table-responsive">
                    <h3>Листа од сите магацини</h3>
                    <div class="col mb-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form method="GET" action="/warehouses/add">
                                    <button type="submit" class="btn btn-block btn-dark add-product-btn">
                                        Нов магацин
                                    </button>
                                </form>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" width="30%">Име на магацин</th>
                        <th scope="col" width="30%">Адреса на магацин</th>
                        <th scope="col" width="40%">Производи во магацинот и количина</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="mag : ${magacini}">
                        <td th:text="${mag.getImeMagacin()}"></td>
                        <td th:text="${mag.getAdresaMagacin()}"></td>
                        <!--                            <td th:text="${warehouse.getImeProizvod()}" ></td>-->
                        <!--                            <th th:text="${warehouse.getKolichina()}"></td>-->
                        <td>
                                <ul th:each="m,mm : ${mags}" class="products">
                                    <th:block th:if="${m.getIdMagacin()} == ${mag.getIdMagacin()}">
                                        <li th:text="${m.getImeProizvod()}"></li>
                                        <li th:text="${m.getKolichina()}"></li>
                                    </th:block>
                                </ul>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


